@charset  "UTF-8";

body {
   background-color: rgb(228, 248, 248);
}
h1 {
    color: rgb(4, 94, 94);
}
h2 {
    color:rgb(76, 153, 153)
}
#principal {
    background-color: rgb(3, 87, 41);
    color: white;
    text-align: center;
}
.basico {
    color: #428f42;
}
.intermediario {
    color: #8b8b37;
}
.avancado {
    color: #884242;
}